<ion-header-bar class="bar-positive">
  <h1 class="title">Change Password</h1>
</ion-header-bar>
<br><br><br>
<form ng-app="starter" name="myForm" novalidate>
  <label class="item item-input">
    <input type="password" placeholder="Old Password" name="old" ng-model="oldpassword" required>
    <span style="color:red" ng-show="myForm.old.$invalid && myForm.old.$pristine||myForm.old.$invalid && myForm.old.$dirty">
      <span ng-show="myForm.old.$error.required">*required</span>
      </span>
  </label>
  <label class="item item-input">
    <input type="password" placeholder="New Password" name="new" ng-model="newpass" required>
    <span style="color:red" ng-show="myForm.new.$invalid && myForm.new.$pristine||myForm.new.$invalid && myForm.new.$dirty">
      <span ng-show="myForm.new.$error.required">*required</span>
      </span>
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Confirm Password" name="confirm" ng-model="confirmpass" required>
    <span style="color:red" ng-show="myForm.confirm.$invalid && myForm.confirm.$pristine||myForm.confirm.$invalid && myForm.confirm.$dirty">
      <span ng-show="myForm.confirm.$error.required">*required</span>
      </span>
  </label>
  <!--
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
    <span ng-show="myForm.email.$error.required">Email is required.</span>
    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
    </span>
  -->
  <button class="button button-block button-calm " ng-click="changepass()">Change </button>
  <!--<p><input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
myForm.email.$dirty && myForm.email.$invalid"> -->
  </p>

</form>

