<h5>Information Related to Products !</h5>
<style>
  table {
    width:auto;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th	{
    background-color: slateblue;
    color: white;
  }
</style>
<div class="col-md-8">
  <table id="t01">
    <tr>
      <th>Sr.No</th>
      <th>Stone Name</th>
      <th>Treatment Remark</th>
      <th>Certificate Agency</th>
      <th>Supplier Cert Ref Num</th>
    </tr>
    <tr ng-repeat="partialdata3 in getItemDetails" ng-hide="data.Status==false">
      <td>{{$index+1}}</td>
      <td>{{partialdata3.sName}}</td>
      <td>{{partialdata3.sRemark}}</td>
      <td>{{partialdata3.scerAgency}}</td>
      <td>{{partialdata3.sSupplierRef}}</td>
    </tr>

  </table>

