<h5> product category</h5>
<style>
  table {
    width:auto;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th	{
    background-color: slateblue;
    color: white;
  }
</style>
<div class="col-md-8">
  <table id="t01">
    <tr>
      <th>Sr.No</th>
      <th>Stone Name</th>
      <th>Stock ID</th>
      <th>Purchase Type </th>
    </tr>
    <tr ng-repeat="partialdata in getItemDetails" ng-hide="data.Status==false">
      <td>{{$index+1}}</td>
      <td>{{partialdata.sName}}</td>
      <td>{{partialdata.stockId}}</td>
      <td>{{partialdata.pType}}</td>
       </tr>

  </table>

