<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>
<div class="contentarearight">

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #000;color: white"  >Add New Agent</div>
        <div class="panel-body ">
            <table style="width:auto">
                <tr>
                    <td style="padding: 10px">First Name </td>
                    <td><input type="text" ng-model="firstName"></td>
                </tr>
                <tr>
                    <td style="padding: 10px">Last Name </td>
                    <td><input type="text" ng-model="lastName"></td>
                </tr>
                <tr>
                    <td style="padding: 10px">User Name </td>
                    <td><input type="text" ng-model="userName"></td>
                </tr>
                <tr>
                    <td style="padding: 10px">Location </td>
                    <td><input type="text" ng-model="locationName"></td>
                </tr>
                <tr>
                    <td style="padding: 10px">Email Id </td>
                    <td><input type="text" ng-model="emailId"></td>
                </tr>
                <tr>
                    <td style="padding: 10px">Contact </td>
                    <td><input type="number" ng-model="contactNames"></td>
                </tr>
</table>
            <div class="text-center">
            <div class="btn-group btn-group-lg" >  <button type="button" class="btn btn-primary" ng-click="enterAgents()" style= "background-color: black; color: white">Submit</button></div>
        </div></div>

    </div>
</div>
</div>
