<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>
<div class="contentarearight">
    <div class="contentarearight_panel1">
        <div class="contentarearight_panel_top">1,50,000</div>
        <div class="contentarearight_panel_bottom">Total Items</div>
    </div>
    <div class="contentarearight_panel1">
        <div class="contentarearight_panel_top">10,000</div>
        <div class="contentarearight_panel_bottom">Total Agents</div>
    </div>
    <div class="contentarearight_panel1">
        <div class="contentarearight_panel_top">100</div>
        <div class="contentarearight_panel_bottom">New Stone Requests</div>
    </div>
    <div class="contentarearight_panel2">
        <div class="contentarearight_panel_top">70</div>
        <div class="contentarearight_panel_bottom">New Agent Requests</div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="footer">
    <div class="footer_top">
        <div class="footer_top_left">Copyright &copy; <a href="http://www.mservices.in"><img src="images/mservices_logo.png" border="0"/></a>Mservices Solutions Pvt Ltd.</div>
        <div class="footer_topright">Email: <a href="mailto:support@mservices.in">support@mservices.in</a></div>
        <div class="clear"></div>
    </div>

    <div class="footer_bottom">
        <div class="footer_bottomleft">Contact On: 022 23232323 | Mob: 9876543210</div>
        <div class="footer_bottomright">Designed &amp; Developed by: <a href="http://www.mservices.in">Mservices Solutions Pvt Ltd.</a></div>
        <div class="clear"></div>
    </div>
</div>
