
<div class="header">
    <div class="header_left">
        <div class="companyname1">Admin Dashboard</div>
    </div>
    <div class="header_right">
        <div class="logo"><a href="index.html"><img src="images/logo.png" /></a></div>
        <div class="companyname2">Gemstone</div>
        <div class="logoutbar">
            <div class="logoutbar_img1"><a href="#"><img src="images/profileicon.png" /></a></div>
            <div class="logoutbar_img1"><a href="#"><img src="images/emailicon.png" /></a></div>
            <div class="logoutbar_img1"><a href="#"><img src="images/notificationicon.png" /></a></div>
            <div class="logoutbar_img2"><a href="#" ng-click="logout()"><img src="images/logouticon.png" /></a></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="contentarea">
    <div class="contentarealeft">
        <div class="userbar">
            <div class="userbar_1"><img src="images/photoicon2.png" class="photoicon" /></div>
            <div class="userbar_2">Admin Name</div>
            <div class="clear"></div>
            <div class="userbar_3">

            </div>
        </div>
        <div class="menubar">
            <!--<ul class="mainmenu">
                 <li><a href="">Dashboard</a></li>
                 <li><a href="">View Requests</a>
                     <ul class="submenu">
                        <li><a href="">Agent Request</a></li>
                        <li><a href="">Stone Request</a></li>
                    </ul>
                 </li>
                 <li><a href="">Add Agent</a></li>
                 <li><a href="">View Agent</a></li>
                 <li><a href="">Add Item</a></li>
                 <li><a href="">View Items</a></li>
                 <li><a href="">View Inventory</a></li>
            </ul> -->
            <div id='cssmenu'>
                <ul>

                    <li class='last'><a ui-sref='viewrequest'><span>Agent Request</span></a></li>
                    <li class="last"><a ui-sref='stonerequest'><span>Stone Request</span></a></li>
                    <li class='last'><a ui-sref="adminState"><span>Add Agent</span></a></li>
                    <li class='last'><a ui-sref="viewagents"><span>View Agent</span></a></li>
                    <li class='last'><a ui-sref="viewitem"><span>View Items</span></a></li>
                    <li class='last'><a ui-sref="viewinv"><span>View Inventory</span></a></li>
                </ul>
            </div>

        </div>
    </div>



</div>

</body>
</html>

<!--<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a class="navbar-brand" href="#" style="color: black;font-size: xx-large;text-align: center" >Gemstone Admin Panel</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" style="">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 10px;padding-bottom: 25px;margin-top: 10px;"><span class="glyphicon glyphicon-user pull-right" style=""></span></a>
                <ul class="dropdown-menu">
            <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
                    <li><a ui-sref="changepass"><span class="glyphicon glyphicon-cog" ></span> Change Password</a></li>
                </ul>
            </li>
        </ul>
</div>
</nav>
<div class="col-sm-2" style="background-color: #ccccff;padding: 10px 20px 10px 20px">

        <a  style="color: black; font-size: 22px;margin-left: 30px;padding: 0px 5px 15px 5px;" href="#">DashBoard</a>

        <ul class="list-group">

            <li class="dropdown list-group-item" ><a href="#" class="dropdown-toggle" data-toggle="dropdown">View Requests <span class="caret"></span></a>
                <ul class="dropdown-menu abc" role="menu" style="margin-left:140px;margin-top: -25px;">
                    <li class="dropdown-submenu"><a ui-sref="stonerequest">View Stone Requests</a></li>
                    <li class="dropdown-submenu"><a ui-sref="viewrequest">View Agent Requests</a></li>
                </ul>
            </li>

            <li class="list-group-item"><a ui-sref="adminState">Add Agent</a></li>

            <li class="list-group-item"><a ui-sref="viewagents">View Agent</a></li>

            <li class="list-group-item"><a ui-sref="viewitem">View Items</a></li>

            <li class="list-group-item"><a ui-sref="viewinv">View Inventory</a></li>
        </ul>


    </div>
