<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Item</h1>

            <table id="t01" >

                <tr>
                    <th>Sr.No</th>
                    <th>Name of Stone</th>
                    <th>Agent Username</th>
                    <th>Purchase Type</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="data in getPerItemDetails">
                    <td>{{$index+1}}</td>
                    <td>{{data.sName}}</td>
                    <td>{{data.userNames}}</td>
                    <td>{{data.pType}}</td>
                    <td><button ng-click="updateItems(edit_i=data.id);showPerDetails(viewst_id=data.id)" data-toggle="modal" data-target="#myModal1"  class="btn btn-info"> <i class="glyphicon glyphicon-edit"></i> </button> </td>
                    <td><button ng-click="deletetax(del_id=data.id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button> </td>

                </tr>


            </table>
        </div>
    </div>
</div>
</div>




<div class="modal fade" id="myModal1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Item Details</h4>
            </div>

            <div class="modal-body">


                <table style="width:auto">
                    <tr>
                        <th style="padding: 10px">First Name :</th>
                        <td>{{userNames}}</td>

                        <th style="padding: 10px">Type Of Purchase :</th>
                        <td>{{pType}}</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px">Name Of Stone :</th>
                        <td>{{sName}}</td>

                        <th style="padding: 10px">Size :</th>
                        <td>{{stoneSize}}</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px">Total Weight(CTs) :</th>
                        <td>{{sWeight}}</td>

                        <th style="padding: 10px">Pieces :</th>
                        <td>{{sPieces}}</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px">Dimensions :</th>
                        <td>{{sDimensions}}</td>

                        <th style="padding: 10px">Color :</th>
                        <td>{{sColor}}</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px">Shape :</th>
                        <td>{{stoneShape}}</td>

                        <th style="padding: 10px">Origin :</th>
                        <td>{{sOrigin}}</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px">Treatment Remark :</th>
                        <td>{{sRemark}}</td>

                        <th style="padding: 10px">Certificate Agency :</th>
                        <td>{{scerAgency}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 10px">Expected Sales price/carat :</th>
                        <td>{{sCarat}}</td>

                        <th style="padding: 10px">Stock ID :</th>
                        <td>{{stockId}}</td>

                    </tr>
                    <tr>
                        <th style="padding: 10px">Supplier Ref. Certificate No. :</th>
                        <td>{{sSupplierRef}}</td>

                        <th style="padding: 10px">Procure Price :</th>
                        <td>{{sPurchase}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Image</th>
                        <td colspan="2">

                            <img src ="{{imageName}}" height="100" width="100" />
                        </td>
                    </tr>

                    <tr>
                        <th style="padding: 10px">B2B Price :</th>

                        <td><input id="b2bprice" type="text" class="form-control"  ng-model="bbprice" required/></td>
                    </tr>
                    <tr>
                        <th style="padding: 10px">Markup % on B2B price :</th>

                        <td><input id="perb2bprice" type="text" class="form-control"  ng-model="mpbbprice" required/></td>
                    </tr>
                    <tr>
                        <th style="padding: 10px">VIP Price:</th>

                        <td> <input id="vipprice" type="text" class="form-control"  ng-model="vip_price" required/></td>
                    </tr>
                    <tr>
                        <th style="padding: 10px">Retail Price:</th>

                        <td><input id="retailprice" type="text" class="form-control"  ng-model="retailprice" required/></td>
                    </tr>


                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>




<!--    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Update Item</h4>
            </div>

            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box box-solid">

                        <form class="form-horizontal" id="signup1" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group" style="display:none;">
                                    <label for="inputPassword3" class="col-sm-4 control-label">ID:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="meraId" required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Stone Name:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="sname" type="text" class="form-control"  ng-model="sname" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                        <!--</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Agent Username:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="uname" type="text" class="form-control"  ng-model="userAgent" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                      <!--  </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Purchase Type:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="ptype" type="text" class="form-control"  ng-model="ptype" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                   <!--     </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">B2B Price :</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="b2bprice" type="text" class="form-control"  ng-model="bbprice" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                      <!--  </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Markup % on B2B price :</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="perb2bprice" type="text" class="form-control"  ng-model="mpbbprice" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                     <!--   </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">VIP Price:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="vipprice" type="text" class="form-control"  ng-model="vip_price" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                      <!--  </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Retail Price:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="retailprice" type="text" class="form-control"  ng-model="retailprice" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                        <!--</div>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->

                      <!--  </form>
                        <div class="modal-footer">
                            <button type="submit" ng-click="updateSave()" class="btn btn-info col-sm-5 pull-left" ng-show="upbtn">Update</button>
                            <a class="btn btn-danger col-sm-5 pull-right" data-dismiss="modal">Cancel</a>

                        </div>
                    </div>
                </div><!-- /. box -->
           </div>
        </div>

    </div>
</div>




<style>

                table {
                width:auto;
                    }
                    table, th, td {
                    border: 1px solid red;
                    border-collapse: collapse;
                    }
                    th, td {
                    padding: 5px;
                    text-align: center;
                    }
                    table#t01 tr:nth-child(even) {
                    background-color: #eee;
                    }
                    table#t01 tr:nth-child(odd) {
                    background-color:#fff;
                    }
                    table#t01 th	{
                    background-color: black;
                    color: white;
                    }
                    </style>


