<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>
<div class="contentarearight">
    <style>
        table {
            width:auto;
        }
        table, th, td {
            border: 1px solid red;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color:#fff;
        }
        table#t01 th	{
            background-color: black;
            color: white;
        }
    </style>
    <div class="col-md-8" style="margin:10px 0px 10px 10px">
        <table id="t01">
            <tr>
                <th>Sr. No.</th>
                <th>Username</th>
                <th>Name of Stone</th>
                <th>Origin</th>
                <th>Whole Sale Price</th>
                <th>Vip Price</th>
                <th>Retail Price</th>
                <th>Sell</th>
            </tr>
            <tr ng-repeat="data in getPerItemDetails">
                <td>{{$index+1}}</td>
                <td>{{data.userNames}}</td>
                <td>{{data.sName}}</td>
                <td>{{data.sOrigin}}</td>
                <td>{{data.bbPrice}}</td>
                <td>{{data.vipPrice}}</td>
                <td>{{data.retailPrice}}</td>
                <td><a ng-click="markSold(items_id=data.id)" class="btn btn-info"> &#10004; </a> </td>

            </tr>

        </table>
    </div>
</div>
